{% extends 'base/base.jinja' %}
{% block content %}
<head>
	<title></title>
</head>
<body>
<div>
	<form action="{{ url('news_app:add-comment', ) }}{% url 'news:add-comment' news.id %}" method = 'POST'>
		{% csrf_token %}
		{{ form }}
		<input type="submit" name="submit">
	</form>
</div>
</body>
{% endblock %}