{% extends 'base/base.jinja' %}
{% block content %}
<div>
	<h1><a href="{{ news.link }}">{{ news.title }}</a></h1>
</div>
<form method = "POST">
	{% csrf_token %}
	<textarea name="text" rows="6" cols="60"></textarea>
	<input type="submit" name="submit">
</form>
<div>
	<h3>Comments</h3>
	{% for comment in all_comments %}
		<p>{{ comment.text }} by {{ comment.user }}</p>
	{% endfor %}
</div>
{% endblock %}